.item {
    padding-top: 20px;
}

.item h3 {
    font-size: 1.3em;
    padding-bottom: 5px;
}

.item p {
    padding-bottom: 25px;
    line-height: 200%;
}

.subtitle {
    color: rgba(157,157,157,0.65);
    padding-bottom: 5px;
}

a.subtitle {
    color: inherit;
    font-weight: bold;
}

.item ol, .item ul {
    font-size: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    list-style-position: inside;
}

.item li {
    list-style: disc;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item img {
    display: block;
}
